body {
  background: linear-gradient(to bottom, #87CEEB, #FFFFFF);
  font-family: Arial, sans-serif;
}

h1 {
  color: #232323;
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
}

.card {
  padding: 20px;
  margin: 10px;
  width: 300px;
  border: 1px solid black;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  background-color: #007bff;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 auto;
  width: fit-content;
}

a:hover {
  text-decoration: underline;
}